#box {
	width: 350px;
	height: 350px;
	border: 1px solid #000;
	margin: 200px 0 0 400px;
}
#btn {
	margin: 5px 0 0 400px;
	padding: 5px 15px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	background: green;
}
